section {
    background-color: #F6F3EF;
    font-size: 10px;
    height: 400px;
    overflow: hidden;
    flex-basis: 350px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section p {
    max-width: 200px;
}